Source: ros-noetic-point-cloud2-filters
Section: misc
Priority: optional
Maintainer: Davide Torielli <toridebraus@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-filters, ros-noetic-pcl-conversions, ros-noetic-pcl-ros, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-point-cloud2-filters
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-filters, ros-noetic-pcl-conversions, ros-noetic-pcl-ros, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-tf2-ros
Description: Filters for the sensor_msgs/PointCloud2 based on the filters and sensor_filters chains
